nav.navbar {
	min-height: 44px;
	height: 44px;
	color: white;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.50);

	#logo {
		@include span(4 of 12);

		h1 {
			font-family: "Pacifico",Helvetica,Arial,sans-serif;
			font-size: 30px;
			margin-top: 0;
			padding: 1px 0;
			color: white;

			a {
				color: white;
				text-decoration: none;
			}
		}
	} 

	div#user-menu,
	div#top-menu {
		@include span(8 of 12);
		padding: 10px 0;

		ul {
			text-align: right;

			li {
				display: inline-block;
				padding: 0 10px;

				a {
					color: #00AEEF;
				}
			}
		}
	}
}