@font-face {
  font-family: 'Lobster-Regular';
  src:url('Lobster-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.cke_textarea_inline {
	border: solid 1px #e6f1fa;
}

.hidden {
	display: none;
}