@import "vars";


.col-lg-12{
	nav {
		ul.navbar-top-links li{
			display: inline-block;
			margin: 0 15px 0 15px;
		}
		/* pour le header */
		div.navbar-header {
			float: none;
			z-index: 200;
			button {
				i {
					font-size: 25px;
					color: #888;
				}
			}
			a {
				color: #777;
			}
			a:focus, a:hover {
    			color: #333;
    			text-decoration: none;
    		}
		}
		/* pour le menu a droite */
		div.sidebar{
			padding-right: 0;
    		padding-left: 0;
			.sidebar-nav {
				ul {
					border-bottom: 1px solid #e7e7e7;
					li {
						border-bottom: 1px solid #e7e7e7;
						a {
							text-decoration: none;
						}
						a.active {
				    		background-color: #eee;
						}
						ul {
							border: none;
							color:red;
							li {
								border: none;
								a {

								}
							}
						}
					}
				}
			}
		}
	}
}


nav#main-nav {
	color: $textGrey;

	ul {
		padding-left: 0;

		a {
			text-decoration: none;

			li {
				padding: 5px;
				background: $green;
				list-style-type: none;
				color: $white;
			}
		}

		ul {
			border: 0;

			a {
				li {
					background: $brown;
					color: $textGrey;
				}
			}
		}
	}
}

form.edit_page {
	h3 {
		margin-top: 0;
	}
}

@media(min-width:765px) {
	.col-lg-12{
		nav{
			.sidebar {
				display: block;
				position: absolute;
				z-index: -100;		    	width: span(3 of 12);
			}
		}
		#page-wrapper{
			position: inherit;
			margin-left: span(3 of 12);
			padding: 0 30px;
			border-left: 1px solid #e7e7e7;
		}
	}
}


@media(min-width:1020px) {

}