@import "vars";


.col-lg-12{
	.navbar-default {
		/* pour le header */
		.navbar-header {
			float: none;
			button {
				i {
					font-size: 25px;
					color: #888;
				}
			}
			a {
				color: #777;
			}
			a:focus, a:hover {
    			color: #333;
    			text-decoration: none;
    		}
		}
		/* pour le menu d'action */
		.sidebar-nav {
			ul li {
    			border-bottom: 1px solid #e7e7e7;
    		}
		}
	}
}


nav#main-nav {
	color: $textGrey;

	ul {
		padding-left: 0;
		border: 1px solid $green;

		a {
			text-decoration: none;

			li {
				padding: 5px;
				background: $green;
				list-style-type: none;
				color: $white;
			}
		}

		ul {
			border: 0;

			a {
				li {
					background: $brown;
					color: $textGrey;
				}
			}
		}
	}
}

form.edit_page {
	h3 {
		margin-top: 0;
	}
}