@import "grids";
@import "misc";

html {
	@include container(100%);

	header {
		@import "header";
	}

	section#main-outlet {
		display: flex;
	  min-height: 90vh;
		flex: 1 0 auto;
		margin-top: 50px;
	}

	@import 'footer';
}
