@import "grids";
@import "misc";
@import "vars";

html, body {
	@include container(100%);
	margin: 0;
	padding: 0;

	header {
		@import "header";
	}

	section#main-outlet {
		display: flex;
	  	min-height: 90vh;
		flex: 1 0 auto;
		margin-top: 50px;
		margin: 0;
		padding: 0;
		@include span(12 of 12);

		div#wrapper {
			@include span(12 of 12);
			margin: 0;
			padding: 0;

			#outlet {
				@import 'template1';
				@include span(12 of 12);
				margin: 50px 50px;
				padding: 0;
			}

			.outlet {
				@import 'template1';
				@include span(12 of 12);
				margin: 50px 50px;
				padding: 0;
			}
		}
	}

	@import 'footer';
}
