<div id='outlet' data-component='Home' data-view='Index'>
	<h2>Welcome</h2>
	<% unless user_signed_in? %>
	  <div>
	  	<%= render :partial => 'devise/sessions/new' %>
	  </div>
	  <div>
	  	<%= render partial: "devise/registrations/new" %>
	  </div>
	<% end %>
</div>