<a id="add_new_page_button">
  <i class="fa fa-plus"></i>
</a>
<div id="add_new_page" class="hidden_elem">
  <%= form_for @new_page, :html => { :id => "new_page" } do |f| %>
    <div>
      <p>
        <%= f.text_field :name, :placeholder => :name %>
      </p>
    </div>
    <div>
	   	<%= f.hidden_field :container_id, :value => @container.id %>
	  </div>	
    <%= f.submit :save, class: "btn btn-primary" %>
  <% end %>
</div>